/* 	================= 
		MAIN.CSS
	================= */


/* !!! CSS RESET !!! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 	==============================================
		BEGIN AUTHOR STYLING
	============================================== */


* {
	/*background-color: rgba(255, 0, 0, 0.2);*/
	/*outline: 1px solid rgb(0,0,255);*/
}

.container {
	height: 100%;
	width: 100%;
	background-color: white;
}

h1 {
	margin-top: 0px;
	margin-left: 90px;
	font-family: 'Rubik', serif;
	font-weight: 500;
	font-size: 50px;
	color: black;
	
}

p {
	margin-top: 20px;
	margin-left: 90px;
	font-family: 'Rubik', serif;
	font-weight: 300;
	font-size: 16px;
	color: black;
}

.bold {
	font-weight: 500;
}

.italic {
	font-style: italic;
}

.text {
	float: left;
	margin-top: 60px;
	margin-bottom: 60px;
	width: 90%;
}

.text p {
	width: 55%;
}

.text a:link,
.text a:visited {
	color: black;
}

.collab {
	width: 3
}

/* 	===========================
		IMG STYLING
	=========================== */

.full {
	width: 70%;
	margin-left: 15%;
	margin-bottom: 150px;
}

.half {
	float: left;
	width: 35%;
	margin-left: 10%;
	margin-bottom: 150px;
}

/* 	===========================
		INSTALLATION STYLING
	=========================== */

.installation {
	width: 100%;
}

.installation img {
	width: 30%;
	margin-left: 15%;
	margin-bottom: 150px
}

.installation h1 {
	margin-left: 0;
	margin-top: 170px;
	width: 55%;
	float: right;
	text-align: center;
	
	line-height: 35px;
	font-family: 'Halant';
}

.installation a:link,
.installation a:visited,
.sub {
	color: black;
	font-size: 24px;
} 

#reverse {
	margin-left: -12px;
}

.subtitle {
	font-family: 'Halant';
	font-size: 18px;
}

/* 	===========================
		BACK TO HOME
	=========================== */

.back {
	margin-right: 40px;
}

.back a:link,
.back a:visited {
	position: fixed;
	left: 5px;
	bottom: 5px;
	margin-top: 50px;
	margin-right: 40px;
	font-size: 24px;
	font-family: 'Rubik', serif;
	font-weight: 500;

	text-decoration: none;
		color: black;

}

/*  =======================
    MEDIA QUERIES
    ======================= */

@media screen and (max-width: 1000px) { 
	
	h1 {
		font-size: 36px;
	
	}

	p {
		font-size: 14px;
	}

	.installation h1 {
		margin-top: 150px;
	}


}

@media screen and (max-width: 900px) { 
	
	.installation h1 {
		margin-top: 110px;
	}

}

@media screen and (max-width: 695px) {

	h1 {
		font-size: 50px;
		width: 80%;
		margin-left:10%;
		/*color: blue;*/
	}

	p {
		font-size: 16px;
		margin-left: 10%;
	} 

	.text {
		float: left;
		width: 90%;
		margin-top: 10px;
		margin-left: 0;
		margin-bottom: 50px;
	}

	.text p {
		width: 90%;
	}

	.collab {
		display: none;
	}

	.back a:link,
	.back a:visited {
		padding: 5px;
	
		text-decoration: none;
		color: black;
		background-color: white;
	
	}

	.half,
	.full,
	.installation img {
		float: none;
		width: 80%;
		margin-left: 10%;
		margin-bottom: 50px;
	}

	.installation img {
		margin-bottom: 30px;
	}

	.installation h1 {
		float: none;
		width: 98%;
		margin-left: 1%;
		margin-top: 0;
		margin-bottom: 80px;
	}
	
}